<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Portails web </title>
        <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    </head>
    <body>
        <!--/*/ <th:block th:include="fragments/header :: body"></th:block> /*/-->
        <div class="container">
            <div class="starter-template">
                <h1>Inscription universitaire</h1>
                <p class="lead"> 
                     <br />Portails web à <br />
                 
                   <!-- <a href="/etudiants/add" class="btn btn-primary btn-lg"> </a>-->
                    
                    <a href="http://192.168.8.5:7777/" >
                        <button type="button" class="btn btn-outline-primary">Inscription Universitaire</button>
                    </a>
                    
                    
                    
                    <a href="http://192.168.8.5:4444/posts/" >
                        <button type="button" class="btn btn-outline-success">Inscription Foyer</button>
                    </a>
                        
                    
                    
                    <a href="http://192.168.8.5:3333/posts/" >
                        <button type="button" class="btn btn-outline-warning">Inscription Transport </button>
                    </a>
                       
                   
                   
                </p>
            </div>
        </div>
        <!--/*/ <th:block th:include="fragments/js :: body"></th:block> /*/-->
    </body>
</html>
